<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605583821885-idu5l38rjgd30laltvank7guej3i8s02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605583821885-idu5l38rjgd30laltvank7guej3i8s02</string>
	<key>API_KEY</key>
	<string>AIzaSyCgRhKKIaODSReY55KtAxZ-1ZdQiEu8qAA</string>
	<key>GCM_SENDER_ID</key>
	<string>605583821885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled2</string>
	<key>PROJECT_ID</key>
	<string>untitled2-aa440</string>
	<key>STORAGE_BUCKET</key>
	<string>untitled2-aa440.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605583821885:ios:2fb12c418736bb38b9ae54</string>
</dict>
</plist>